@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: #242d52;
  transition: 0.3s all ease-in;
}

a:hover {
  color: #9095a7;
}

.btn {
  text-transform: capitalize;
  padding: 0.75rem 1.2rem;
  border-radius: 20px;
  border: none;
  outline: transparent;
  background-color: #f25f3a;
  box-shadow: 0px 3px 10px 0px rgba(242, 95, 58, 0.75);
  color: #fafafa;
  cursor: pointer;
  transition: 0.4s all ease-in;
  width: 10rem;
  padding: 1rem 0;
}

.btn:hover {
  color: #9095a7;
  background-color: #ffefeb;
}

.container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.container nav {
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .toggle {
  cursor: pointer;
}

.container nav .btn {
  display: none;
}

main {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 900px;
  background: #ffefeb;
  border-radius: 160px;
  transform: rotate(45deg);
  right: -10rem;
  top: -22rem;
  z-index: -1;
}

.nav-links {
  display: none;
}

.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 10%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s all ease-in;
}

.side-bar .side-links li {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  transition: 0.4s all ease-in;
}

.side-bar .side-link {
  padding: 8px;
  font-size: 36px;
  color: #9095a7;
  transition: 0.3s;
}

.side-bar .side-link:hover {
  color: #ffffff;
}

.active .side-bar {
  display: grid;
  width: 100%;
}

@media screen and (min-width: 768px) {
  main::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 900px;
    background: #ffefeb;
    border-radius: 160px;
    transform: rotate(45deg);
    right: 6rem;
    top: -18rem;
    z-index: -1;
  }
  .toggle {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .container nav .btn {
    display: block;
  }
}

.hero {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.hero-img {
  width: 100%;
}

.hero-content {
  display: grid;
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: #242d52;
  margin-bottom: 1rem;
}

.hero-content p {
  color: #9095a7;
  font-size: 18px;
  line-height: 1.6;
}

.hero-btn {
  width: 40%;
  padding: 1rem;
  margin: 1.5rem auto;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
  }
  .hero-img {
    order: 1;
    justify-self: end;
  }
  .hero-content {
    justify-self: start;
    text-align: left;
  }
  .hero-btn {
    width: 30%;
    margin: 1.5rem 0;
  }
}

.about {
  margin: 5rem auto 1rem auto;
  position: relative;
}

.about-title {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.about-title h1 {
  font-size: 36px;
  font-weight: 700;
  color: #242d52;
  margin-bottom: 1.2rem;
}

.about-title p {
  color: #9095a7;
  font-size: 18px;
  line-height: 1.6;
}

.about-content {
  margin: 4rem auto;
  display: grid;
}

.about-content-card {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.about-content-card:last-child {
  margin-bottom: 1rem;
}

.about-content-card-top {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 0.1rem;
  margin-bottom: 1rem;
}

.about-content-card-top h3 {
  font-size: 16px;
  color: #242d52;
  font-weight: 700;
}

.about-content-card-top-number {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f25f3a;
  padding: 0.4rem 1.6rem;
  border-radius: 100px;
}

.about-content-card-top-number h1 {
  color: white;
  font-weight: 500;
}

.about-content-card-top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #ffefeb;
  z-index: -1;
  right: -3rem;
}

.about-content-card-info {
  display: flex;
  justify-content: start;
  padding-right: 1rem;
  line-height: 1.8;
  color: #9095a7;
}

.about::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 350px;
  background: #ffefeb;
  border-radius: 300px;
  transform: rotate(45deg);
  right: -5rem;
  top: -21rem;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    gap: 4rem;
  }
  .about-title {
    width: 100%;
    text-align: left;
    transform: translateY(4rem);
  }
  .about-title h1 {
    font-size: 42px;
  }
  .about-title p {
    width: 25rem;
  }
  .about-content-card-top::after {
    background: transparent;
  }
  .about-content-card-info {
    transform: translateX(6rem);
  }
  .about::before {
    left: -20rem;
    top: 45%;
    width: 400px;
    height: 900px;
  }
}

.testimonial h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #242d52;
}

.testimonial .carousel {
  background: #ffffff;
  margin-top: 5rem;
  margin-bottom: 4rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.testimonial .carousel .carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #fafafa;
  border-radius: 5px;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
}

.testimonial .carousel .carousel-cell .avatar {
  width: 80px;
}

.testimonial .carousel .carousel-cell h3 {
  color: #242d52;
}

.testimonial .carousel .carousel-cell p {
  color: #9095a7;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots .dot {
  background: white;
  border: 3px solid #f25f3a;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #f25f3a;
}

.newsletter {
  display: grid;
  place-items: center;
}

.newsletter-container {
  display: grid;
  place-items: center;
  width: 100vw;
  margin-top: 2rem;
  padding: 5rem 2rem;
  background: #f25f3a;
  position: relative;
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter-container h1 {
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 1rem;
}

.newsletter-container .btn {
  background-color: #ffffff;
  color: #f25f3a;
  width: 10rem;
  padding: 1rem 0;
}

.newsletter-container .btn:hover {
  background: #ffefeb;
}

@media screen and (min-width: 768px) {
  .newsletter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .newsletter-container h1 {
    text-align: left;
    align-self: center;
    margin-left: 5rem;
  }
  .newsletter-container .btn {
    justify-self: center;
  }
}

footer {
  background: #1d1e25;
  padding: 0 0 3rem 0;
}

.footer-center {
  width: 90vw;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  place-items: center;
}

.form-control {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.form-control .error {
  color: #f25f3a;
  display: none;
  margin-left: 8rem;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 300px;
  padding: 1rem;
  margin-right: 1rem;
  border: transparent;
  border-radius: 20px;
  color: #f25f3a;
}

.form .submit {
  padding: 0 1rem;
  border-radius: 20px;
  border: transparent;
  background: #f25f3a;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s all linear;
}

.form .submit:hover {
  background: #ffefeb;
  color: #242d52;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0 4rem;
}

.links-1 {
  justify-self: start;
}

.links-2 {
  justify-self: end;
}

.links ul li {
  margin-bottom: 1rem;
}

.links .link {
  color: #fafafa;
}

.links .link:hover {
  color: #f25f3a;
}

.links-1 {
  justify-self: start;
}

.footer-logo {
  display: grid;
  place-items: center;
}

.social-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.social-links .social-link {
  cursor: pointer;
}

.copyright {
  text-align: center;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0 7rem 3rem 7rem;
  }
  .footer-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .form-control {
    order: 3;
  }
  .links {
    order: 2;
  }
  .social-links {
    order: 2;
  }
  .copyright {
    text-align: right;
  }
}

.change .error {
  display: block;
}

.change .form-input {
  border: 3px solid #f25f3a;
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .attribution {
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */